## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,16,NZ,few clouds,2022-02-10 02:30:10,29,-46.1927,168.8643,75.47,8.25
1,1,Villa Sandino,8,NI,clear sky,2022-02-10 02:30:11,89,12.0483,-84.9936,68.59,8.12
2,2,Cape Town,75,ZA,broken clouds,2022-02-10 02:27:20,89,-33.9258,18.4232,68.88,5.75
3,3,Busselton,5,AU,clear sky,2022-02-10 02:30:12,36,-33.6500,115.3333,83.05,3.02
4,4,Ribeira Grande,1,PT,clear sky,2022-02-10 02:30:12,70,38.5167,-28.7000,59.14,12.91

In [ ]:
city_data_df.list("City_ID", "Date", "City", "Country", "Lng", "Lat", "Max Temp", "Humidity", "Wind Speed")

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp_question = float(input("What is the minimum temperature criteria for your vacation?"))
max_temp_question = float(input("What is the maximum temperature criteria for your vacation?"))

What is the minimum temperature criteria for your vacation?70
What is the maximum temperature criteria for your vacation?90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc metho
filtered_city_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_question) &
                                         (city_data_df["Max Temp"] >= min_temp_question)]
filtered_city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,16,NZ,few clouds,2022-02-10 02:30:10,29,-46.1927,168.8643,75.47,8.25
3,3,Busselton,5,AU,clear sky,2022-02-10 02:30:12,36,-33.6500,115.3333,83.05,3.02
7,7,Saint-Philippe,51,RE,broken clouds,2022-02-10 02:22:11,79,-21.3585,55.7679,74.79,2.59
8,8,Hobart,75,AU,broken clouds,2022-02-10 02:30:07,43,-42.8794,147.3294,73.26,16.11
15,15,Lorengau,62,PG,broken clouds,2022-02-10 02:30:16,74,-2.0226,147.2712,84.15,8.70
...,...,...,...,...,...,...,...,...,...,...,...
652,652,Limon,8,CR,clear sky,2022-02-10 02:47:59,76,10.0000,-83.0333,76.33,1.03
666,666,Atambua,80,ID,light rain,2022-02-10 02:49:05,79,-9.1061,124.8925,80.82,4.34
668,668,Pimentel,100,PE,overcast clouds,2022-02-10 02:49:06,75,-6.8367,-79.9342,71.49,10.25
671,671,West Bay,20,KY,few clouds,2022-02-10 02:49:07,85,19.3667,-81.4167,78.01,2.30
673,673,Bairiki,40,KI,scattered clouds,2022-02-10 02:49:08,74,1.3292,172.9752,86.00,10.36

In [10]:
# 4a. Determine if there are any empty rows.
filtered_city_data_df.count()

City_ID                234
City                   234
Cloudiness             234
Country                234
Current Description    234
Date                   234
Humidity               234
Lat                    234
Lng                    234
Max Temp               234
Wind Speed             234
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_city_data_df = filtered_city_data_df.dropna()
filtered_city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,16,NZ,few clouds,2022-02-10 02:30:10,29,-46.1927,168.8643,75.47,8.25
3,3,Busselton,5,AU,clear sky,2022-02-10 02:30:12,36,-33.6500,115.3333,83.05,3.02
7,7,Saint-Philippe,51,RE,broken clouds,2022-02-10 02:22:11,79,-21.3585,55.7679,74.79,2.59
8,8,Hobart,75,AU,broken clouds,2022-02-10 02:30:07,43,-42.8794,147.3294,73.26,16.11
15,15,Lorengau,62,PG,broken clouds,2022-02-10 02:30:16,74,-2.0226,147.2712,84.15,8.70
...,...,...,...,...,...,...,...,...,...,...,...
652,652,Limon,8,CR,clear sky,2022-02-10 02:47:59,76,10.0000,-83.0333,76.33,1.03
666,666,Atambua,80,ID,light rain,2022-02-10 02:49:05,79,-9.1061,124.8925,80.82,4.34
668,668,Pimentel,100,PE,overcast clouds,2022-02-10 02:49:06,75,-6.8367,-79.9342,71.49,10.25
671,671,West Bay,20,KY,few clouds,2022-02-10 02:49:07,85,19.3667,-81.4167,78.01,2.30
673,673,Bairiki,40,KI,scattered clouds,2022-02-10 02:49:08,74,1.3292,172.9752,86.00,10.36

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,75.47,few clouds,-46.1927,168.8643,
3,Busselton,AU,83.05,clear sky,-33.6500,115.3333,
7,Saint-Philippe,RE,74.79,broken clouds,-21.3585,55.7679,
8,Hobart,AU,73.26,broken clouds,-42.8794,147.3294,
15,Lorengau,PG,84.15,broken clouds,-2.0226,147.2712,
16,Parrita,CR,82.17,few clouds,9.5201,-84.3225,
17,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,
18,Bambanglipuro,ID,82.71,moderate rain,-7.9500,110.2833,
19,Sedam,IN,71.87,scattered clouds,17.1773,77.2824,
25,Lakes Entrance,AU,71.17,overcast clouds,-37.8811,147.9810,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    hotels = requests.get((base_url), params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found...skipping...")

Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...
Hotel not found...skipping...

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,75.47,few clouds,-46.1927,168.8643,Ellie's Villa
3,Busselton,AU,83.05,clear sky,-33.6500,115.3333,Observatory Guest House
7,Saint-Philippe,RE,74.79,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
8,Hobart,AU,73.26,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
15,Lorengau,PG,84.15,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
652,Limon,CR,76.33,clear sky,10.0000,-83.0333,Hotel Playa Bonita
666,Atambua,ID,80.82,light rain,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
668,Pimentel,PE,71.49,overcast clouds,-6.8367,-79.9342,Casona Del Muelle
671,West Bay,KY,78.01,few clouds,19.3667,-81.4167,Calypso Cove
673,Bairiki,KI,86.00,scattered clouds,1.3292,172.9752,Tarawa Boutique Hotel

In [23]:
# 8a. Create the output File (CSV)
export_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(export_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))